# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Node
node_modules/
npm-debug.log*

# Firebase secrets
*-firebase-adminsdk-*.json
firebase-adminsdk*.json

# Environment secrets
.env
.env.*

# Laravel
backend_repo/vendor/
backend_repo/.env

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Temporary files
.temp_patch_note.txt
*.log
assets/lib/
assets/android/
assets/build/
assets/node_modules/
**/ephemeral/
analyze.txt
*-firebase-adminsdk-*.json
